<link rel="import" href="cells-oscar-dashboard-styles.html">
<link rel="import" href="bower_components/cells-mocks-component/cells-mocks-component.html">
<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
<dom-module id="cells-oscar-dashboard">
  <script src="cells-oscar-dashboard.js"></script>
</dom-module>
