<dom-module id="cells-oscar-dashboard-styles"><template><style>
:host {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-oscar-dashboard; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

.sisi {
  background-color: lightgrey; }

.card {
  text-align: center;
  display: inline-grid; }

.card2 {
  text-align: center;
  display: inline-grid; }

.card3 {
  text-align: center;
  display: inline-block;
  border: 1px dotted cyan; }

</style></template></dom-module>